<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Github Username" [(ngModel)]="username" name="username"
          (keyup)="profileSearch()">
      </div>
    </form>
  </div>
</div>

<div  *ngIf="profile">
  <div class="panel panel-default bg-dark ">
    <div class="panel-heading">
      <h3 class="panel-title">{{profile.login}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail github-avatar" src="{{profile.avatar_url}}">
        </div>
        <div class="col-md-8">
          <div class="stats">
            <span class="label label-default">{{profile.public_repos}} Public Repos</span>
            <span class="label label-primary">{{profile.public_gists}} Public Gists</span>
            <span class="label label-success">{{profile.followers}} Followers</span>
            <span class="label label-info">{{profile.following}} Following</span>
          </div>
          <br>
          <ul class="list-group">
            <li class="list-group-item"><strong>Username: </strong>{{profile.login}}</li>
            <li class="list-group-item"><strong>Location: </strong>{{profile.location}}</li>
            <li class="list-group-item"><strong>Email: </strong>{{profile.email}}</li>
            <li class="list-group-item"><strong>Blog: </strong>{{profile.blog}}</li>
            <li class="list-group-item"><strong>Member Since: </strong>{{profile.created_at}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">REPOSITORY</h3>
    </div>
    <div class="panel-body bg-dark text-white">
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let repo of repos">
            <div class="row">
              <div class="col-md-9">
                <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
                <p>{{repo.description}}</p>
              </div>
              <div class="col-md-3">
                <span class="label label-default">{{repo.watchers}} Watchers</span>
                <span class="label label-primary">{{repo.forks}} Forks</span>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>